@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

html {
    box-sizing: border-box; /* prevents padding from stretching div out */
  }

  body {
    margin:0px;
    min-height: 100vh; /* VH = viewport height, stretches full hieght of screen */
    background-color: #888;
    font-family: 'Caveat', cursive, sans-serif;
  }

  h1 {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 60px;
    letter-spacing: 2px;
    color: #fff;
  }

  /* loader */
.loader {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(255,255,255,0.8);
  }
  
  .loader img {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

  /* image container */
.image-container {
    margin: 10px 30%;
  }
  .image-container img {
    width: 100%;
    height: 400px;
    margin-top: 0px;
    margin-bottom: 10px;
    object-fit: cover;
  }
  
  /* Media Query */
  @media screen and (max-width:600px) {
    h1 {
      font-size: 30px;
    }
  
    .image-container {
      margin: 10px;
    }
    
  }