@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

html {
    box-sizing: border-box; /* prevents padding from stretching div out */
  }

  body {
    margin:0px;
    min-height: 100vh; /* VH = viewport height, stretches full hieght of screen */
    background-color: #888;
    font-family: 'Caveat', cursive, sans-serif;
  }

  h1 {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 60px;
    letter-spacing: 2px;
    color: #fff;
  }